.recentPage_div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.title > p {
    background-image: url('../../../public/imgs/Main/MainImage2/13_highlight.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    font-weight: bold;
}

.recent_contents {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.recent_contents > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 5%;
}

.recent_contents > div > .number {
    color: blue;
    font-weight: bold;
}

.recent_contents > div > .line {
    width: 70%;
}

.recent_contents > div > .title_img {
    width: 40%;
}

.text_div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 컨테이너를 위, 아래로 나눔 */
    align-items: center; /* 수직 가운데 정렬 */
}

.text_div > .title_p {
    width: 100%;
    align-items: flex-start; /* 첫 번째 자식 요소를 컨테이너의 위쪽에 정렬 */
    font-weight: bold;
}

.text_div > .viewCount {
    width: 100%;
    align-items: flex-end; /* 두 번째 자식 요소를 컨테이너의 아래쪽에 정렬 */
    color: blue;
}