.Search_Div {
    margin-top: 10px;
    width: 80%;
    height: 100%;
}

.SearchBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBar > input {
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2791E8;
    width: 40%;
    height: 100%;
}

.SearchBar > button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 5%;
}

.SearchBar > button > img {
    width: 100%;
    /* border-bottom: 1px solid #2791E8; */
}

.Search_Result {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    overflow-y: auto; /* 세로 스크롤 허용 */
    height: 64vh;
   -ms-overflow-style: none;
}

.Search_Result::-webkit-scrollbar{
  display:none;
}

.searchList {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.searchList > img {
    width: 45%;
    margin-right: 5%;
}

.gradation_container {
    width: 100%;
    position: sticky;
    bottom: -5%;
    left: 0;
    margin-top: auto;
}

.gradation_container > img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}