.postTest {
    width: 60%;
    overflow: auto; /* 내용이 넘치면 스크롤 생김 */}

.postTest > img {
    width: 100%;
}

p {
    white-space: pre-wrap;
    margin-bottom: 0;
}

.title_post {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}

.title_post > div {
    background-color: #2791E8;
    margin-right: 2%;
}